html {
    box-sizing: content-box;
    margin: 0 auto;
}

.dark-blue-text {
    color: rgb(0, 29, 71);
}

#nav-drop {
    width: 70vw;
}

.hero {
    background-image: url('./../images/banners/banner01_hinchas.png');
    height: 20vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media(min-width: 700px) {
    .hero {
        height: 45rem;
    }
}

.bg-color-01 {
    background-color: rgb(6, 6, 88);
}

.text-color-01 {
    background-color: rgb(6, 6, 88);
}